<h1><%- title %></h1>

<% if (messages.notice) { %>
  <div class="notice">
    <% messages.notice.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<% if (errors && errors.array) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form class="input-box" action="/inv/add-inventory" method="post" novalidate>
  <label>Make
    <input type="text" name="inv_make" required value="<%= typeof inv_make !== 'undefined' ? inv_make : '' %>" minlength="2" maxlength="50">
  </label>
  <label>Model
    <input type="text" name="inv_model" required value="<%= typeof inv_model !== 'undefined' ? inv_model : '' %>" minlength="2" maxlength="50">
  </label>
  <label>Year
    <input type="number" name="inv_year" required value="<%= typeof inv_year !== 'undefined' ? inv_year : '' %>" min="1900" max="2030">
  </label>
  <label>Description
    <textarea name="inv_description" required rows="5" minlength="2" maxlength="100"><%= typeof inv_description !== 'undefined' ? inv_description : '' %></textarea>
  </label>
  <label>Image Path
    <input type="text" name="inv_image" required value="<%= typeof inv_image !== 'undefined' ? inv_image : '/images/vehicles/no-image.png' %>">
  </label>
  <label>Thumbnail Path
    <input type="text" name="inv_thumbnail" required value="<%= typeof inv_thumbnail !== 'undefined' ? inv_thumbnail : '/images/vehicles/no-image-tn.png' %>">
  </label>
  <label>Price
    <input type="number" step="0.01" name="inv_price" required value="<%= typeof inv_price !== 'undefined' ? inv_price : '' %>">
  </label>
  <label>Miles
    <input type="number" name="inv_miles" required value="<%= typeof inv_miles !== 'undefined' ? inv_miles : '' %>">
  </label>
  <label>Color
    <input type="text" name="inv_color" required value="<%= typeof inv_color !== 'undefined' ? inv_color : '' %>">
  </label>
  <label>Classification
    <%- classifications %>
  </label>
  <input type="submit" value="Add Vehicle">
</form>