<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body style="background: url('/images/site/checkerboard.jpg') repeat;">
  <div class="container">
    <header>
      <h2>CSE Motors</h2>
      <a href="#">My Account</a>
    </header>

    <nav>
      <a href="/">Home</a>  
      <a href="/inventory/type/1">Custom</a>  
      <a href="/inventory/type/2">Sedan</a>   
      <a href="/inventory/type/3">SUV</a>     
      <a href="/inventory/type/4">Truck</a>   
    </nav>

    <section>
        <img src="<%= inv_image %>" alt="<%= inv_make %> <%= inv_model %>" />
        <h2><%= inv_make %> <%= inv_model %> (<%= inv_year %>)</h2>
        <p><strong>Price:</strong> $<%= inv_price.toLocaleString() %></p>
        <p><strong>Miles:</strong> <%= inv_miles.toLocaleString() %> miles</p>
        <p><strong>Color:</strong> <%= inv_color %></p>
        <p><strong>Description:</strong> <%= inv_description %></p>
    </section>
</body>
</html>
